{
  "url": "https://blisstribute-domain.de",
  "client": "",
  "user": "",
  "password": "",
  "apiKey": "",
  "mapping": {
    "defaults": {
      "invoice": {
        "boxBarcode": "/var/www/html/assets/dummyBoxBarcode.jpg"
      },
      "system": {
        "imagePath": "/var/www/html/src/Templates/image/",
        "templatePath": "/var/www/html/src/Templates/"
      }
    },
    "textModuleMapping": {
      "defaults": {
        "tm.phoneNumber": "030 69 2037 250"
      },
      "EXB": {
        "tm.phoneNumber": "030 69 2037 251"
      }
    }
  }
}